* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.toggle {
  cursor: pointer;
}

.toggle_input {
  display: none;
}

.toggle_bar {
  width: 10rem;
  height: 4rem;
  background-color: #eee;
  border-radius: 5rem;
  padding: 5px;
  display: flex;
  align-items: center;
  transition: background-color 0.5s linear;
}

.toggle_spin {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: #fff;
  transition: transform 0.5s linear;
}

.toggle_input:checked + .toggle_bar {
  background-color: #ff7879;
}

.toggle_input:checked + .toggle_bar .toggle_spin {
  transform: translateX(6.5rem);
}
